/* Sidebar Styles */
.sidebar {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    right: 0; /* Changed to right */
    height: 100vh;
    padding: 10px;
    background-color: #f8f9fa;
    z-index: 9999;
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      width: 250px;
      right: -250px; /* Hidden to the right initially */
    }
  
    .sidebar.d-block {
      right: 0; /* Sidebar visible when toggled */
    }
  }
  
  /* Content Padding to Avoid Overlap with Fixed Sidebar */
  @media (min-width: 768px) {
    .content {
      margin-right: 250px; /* Adjusted for right sidebar */
    }
  }
  
  /* Burger icon button styling */
  button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10000;
  }
  